.place {
  background-color: #a7a7a7;
  border: none;
  outline: none;
  margin-block: 0.875rem;
}
.place2 {
  background-color: #ffffff;
  border: none;
  outline: none;
  margin-block: 0.875rem;
}
.place3 {
  background-color: #ffffff;
  margin-block: 0.875rem;
}
#unCheckedChange {
  background-color: #a7a7a7;
  border-radius: 0.313rem;
  padding: 0.063rem;
  margin: 0.625rem 00.625rem 0.125rem;
}
#checkedChange {
  background-color: #ffffff;
  border-radius: 0.313rem;
  padding: 0.063rem;
  margin: 0.625rem 00.625rem 0.125rem;
}
